requests
pyautogui
psutil
beautifulsoup4
pytest
GitPython
PyGithub
opencv-python
pytesseract
Pillow
SpeechRecognition
gTTS
pyaudio
SQLAlchemy
pandas
PyPDF2
python-docx
openpyxl
paramiko
python-dotenv
pywebview
